.securitiesPage {
  display: flex;
  padding: 20px;
}

.leftColumn {
  flex: 0 0 70%;
  padding-right: 20px;
}

.rightColumn {
  flex: 0 0 30%;
  height: 100%;
  /* position: sticky; */
  /* top: 20px;
  padding: 20px; */
  /* border: 2px solid; */
  /* border-radius: 8px;
  box-shadow: 0px 16px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 10;
  max-height: 25em; */

}


.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2.5em;
  margin: 0;
}

.header p {
  margin: 5px 0;
}

.change {
  color: green;
  font-weight: bold;
}

.changePercent {
  color: green;
  font-weight: bold;
}

.periodButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.periodButtons button {
  background-color: #f1f1f1;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1em;
}

.periodButtons button:hover {
  background-color: #ddd;
}

.orderSection {
  margin-bottom: 20px;
}

.orderSection h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.orderSection form {
  display: flex;
  flex-direction: column;
}

.orderSection form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.orderSection form select,
.orderSection form input {
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
}

.orderSection form button {
  padding: 10px;
  font-size: 1em;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.watchlist {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.watchlist button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  top: 6em;
}

.watchlist button:hover {
  background-color: #0056b3;
}

.additionalInfo {
  margin-top: 20px;
}

.additionalInfo h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.additionalInfo p {
  margin: 10px 0;
}

.additionalInfo ul {
  list-style-type: none;
  padding: 0;
}

.additionalInfo ul li {
  margin: 5px 0;
}

.watchlistButtonContainer {
  margin-top: 20px; /* Adjust as needed */
  text-align: center; /* Adjust as needed */
  display: flex;
  flex-direction: column;
}
