/* src/pages/SecuritiesPage/SecuritiesPage.module.css */
.securitiesPage {
  display: flex;
  padding: 20px;
}

.leftColumn {
  flex: 0 0 70%;
  padding-right: 20px;
}

.rightColumn {
  flex: 0 0 30%;
  position: relative;
}

.stickyContainer {
  position: sticky;
  top: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2.5em;
  margin: 0;
}

.header p {
  margin: 5px 0;
}

.change {
  color: green;
  font-weight: bold;
}

.changePercent {
  color: green;
  font-weight: bold;
}

.periodButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px 0; /* Adjust the padding as needed */
  border-bottom: 1px solid #d3d3d3; /* Adding a bottom border for the container */
}

.periodButtons button {
  flex: 1;
  margin: 0 5px; /* Adjust the margin between buttons */
  padding: 10px 0; /* Adjust padding for the buttons */
  border: none;
  background: none; /* Remove default button styling */
  color: black; /* Button text color */
  font-size: 16px; /* Adjust the font size as needed */
  cursor: pointer;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  position: relative;
}

.periodButtons button::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #00c807; /* Line color */
  transition: width 0.3s;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
}

.periodButtons button:hover::after,
.periodButtons button:focus::after {
  width: 100%;
}

.periodButtons button:hover {
  color: #00c807; /* Change text color on hover */
}

.periodButtons button:focus {
  outline: none;
  color: #00c807; /* Change text color on focus */
}

.orderSection {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.2);
}

.orderSection h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.orderSection form {
  display: flex;
  flex-direction: column;
}

.orderSection form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.orderSection form select,
.orderSection form input {
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
}

.orderSection form button {
  padding: 10px;
  font-size: 1em;
  background-color: #00C807;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 33px;
  border-radius: 13px;
}

.watchlistButtonContainer {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.addToWatchlistButton {
  padding: 10px 20px;
  font-size: 1em;
  color: #00C806;
  border: none;
  cursor: pointer;
  border-radius: 19px;
  margin-top: 10px;
  width: 16em;
  height: 3em;
  border: 2px solid #00C806;
}

.addToWatchlistButton:hover {
  background-color: #EBF9EA;
}

.additionalInfo {
  margin-top: 20px;
}

.additionalInfo h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.additionalInfo p {
  margin: 10px 0;
}

.additionalInfo ul {
  list-style-type: none;
  padding: 0;
}

.additionalInfo ul li {
  margin: 5px 0;
}

.buyingPowerMessage {
  border-top: 1px solid;
  padding: 2px;
  margin-top: 19px;
}

.error {
  color: red;
}

.commentsSection {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 20px;
  border-top: 2px solid lightgray;
}
