/* src/components/Navigation.module.css */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navLeft, .navCenter, .navRight {
  display: flex;
  align-items: center;
}

.navLeft a {
  text-decoration: none;
  color: #555;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.navLeft a:hover {
  border-color: #009604; /* Darker green for border color */
  background-color: #00c806; /* Matching green color */
  color: white;
  box-shadow: 0 0 5px rgba(0, 200, 6, 0.5); /* Matching shadow color */
}

.navCenter {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navRight {
  display: flex;
  justify-content: flex-end;
}

.welcomeMessage {
  font-size: 1.2em;
  color: #333;
}
